<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/a6759275-4ff2-4eaa-aa16-7c1a481e16ed/resourcegroups/Subh-sankalp-estate20251028181602ResourceGroup/providers/Microsoft.Web/sites/Subh-sankalp-estate</ResourceId>
    <ResourceGroup>Subh-sankalp-estate20251028181602ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/a6759275-4ff2-4eaa-aa16-7c1a481e16ed/resourceGroups/Subh-sankalp-estate20251028181602ResourceGroup/providers/Microsoft.ApiManagement/service/Subh-sankalp-estateapi/apis/Subh-sankalp-estate</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://subh-sankalp-estate.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>1617a7f5-5eb5-41c9-8186-5bc00202ac33</ProjectGuid>
    <MSDeployServiceURL>subh-sankalp-estate.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Subh-sankalp-estate</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$Subh-sankalp-estate</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>